
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(213, 213, 213);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888;
}
button{
    border: none;
    background: none;
}
.main-heading{
    font-size:26px;
    font-weight: 700;
}

.sub-heading{
    font-size:22px;
    font-weight: 600;
}